@model labs5Prog.Models.Course
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>@Model.Id</p>
<p>@Model.Bank</p>
<!--<p>ViewBag.getCurr.Code</p>-->
<p>@Model.CreatedDate</p>
<p>@Model.buy</p>
<p>@Model.sell</p>
<p>@Model.CurrencyId</p>
